
.container{
    display: flex;

    div{

        .data{
            margin-left: 110px;
            display: grid;
            grid-template-columns: auto auto auto auto; 
        }   
    }
}

.main{
    margin-left: 80px;
}