.container{

    margin-left: 135px;
    margin-top: 50px;
    .wave{
        display: flex;
        margin-bottom: 10px;
        p{
            font-size: xx-large;
        }
        h3{
            font-size: xx-large;
        }
    }

    .para{
        color: #4D4D4D;
    }
}